@import "../../App.scss";

.wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  perspective: 800px;
}

@media screen and (min-width: 860px) {
  .wrapper {
    justify-content: center;
    align-items: center;
  }
}
